@using ThucTap_ThuongMaiDienTu.Resources
@{
    ViewData["Title"] = "Activate";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<div class="container-fluid contact">
    <div class="container py-1">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">
                <div class="col-lg-5 rounded align-content-center" style="background-image: url('@Url.Content("~/img/banner-fruits.jpg")'); background-size: cover; background-position: center;">
                    <div class="d-flex p-3 rounded mx-3 my-5" style="background-color:rgba(255,255,255,0.7)">
                        <div>
                            <h4>@Resource.LoginAsk1</h4>
                            <p class="mb-2">@Resource.LoginAsk2</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 my-5">
                    @if (ViewData.ModelState.Count > 0)
                    {
                        <div class="alert alert-danger">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                    <form asp-action="Activate" asp-controller="Dashboard">
                        <input name="Username" type="hidden" value="@TempData["Username"]" />
                        <input name="Code" type="text" class="form-control" placeholder="Enter your activation code" required />
                        <button class="btn btn-primary mt-3" type="submit">Activate</button>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
